* {
    box-sizing: border-box;
    margin: 5px 50px;
}

header .logo {
    height: 50px;
    width: 150px;
    background: orange;
    float: left;
}
header .menu {
    height: 50px;
    width: 50px;
    background: rgb(255, 255, 255);
    float: right;
    margin: 0;
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 50px;
    color: whitesmoke;
    position: absolute;
    top: 350px;
    left: 450px;
    width: 100%;
    margin: 0 auto;
    /* width: 300px; */
    height: 100px;
}

button {
    position: absolute;
    top: 430px;
    left: 800px;
    width: 100%;
    margin: 0 auto;
    width: 100px;
    height: 30px;
}

.imgcenter {
    width: 100%;
    height: 100%;
}
.main {
    background-color: #ccc;
    width: 100%;
    height: 100%;
}

img {
    height: 30px;
    width: 30px;
}

.cat {
    float: left;
}

.world {
    float: left;
}
.swim {
    float: left;
}
.column {
    float: left;
}
