* {
    box-sizing: border-box;
}

body {
    background: white;
    margin: 8px;
}

.wrapper {
    width: 800px;
    margin: auto;
    background-color: #ccc;
}

header {
    background-color: white;
    overflow: hidden;
    padding: 0 10px;
}

header .logo {
    height: 50px;
    width: 150px;
    float: left;
    padding: 10px;
    margin: 10px;
}
header .menu {
    height: 50px;
    width: 50px;
    float: right;
    margin: 10px;
    padding: 10px;
}

.center {
    width: 100%;
    position: relative;
    overflow: hidden;
    margin: auto;
    padding: 0;
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    color: whitesmoke;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 20%;
    right: 0;
    top: 40%;
}
.btn {
    top: 50%;
    left: 50%;
    background-color: #fccc33;
    color: #cc6601;
    border: 3px solid #cc6601;
    font-size: 20px;
    padding: 8px 35px;
    cursor: pointer;
    border-radius: 30px;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 40%;
    right: 0;
    top: 55%;
}

.btn:hover {
    background-color: #cc6601;
    color: blanchedalmond;
}

.imgcenter {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    filter: brightness(70%);
}

section {
    padding: 10px;
    overflow: hidden;
    background-color: #ccc;
    padding: 0px;
    margin: 20px;
}

img {
    height: 50px;
    width: 50px;
    padding: 10px;
}

/* section */

.cat {
    float: left;
    width: 50%;
    padding: 20px;
    display: inline-flex;
}
.world {
    float: right;
    width: 50%;
    padding: 20px;
    display: inline-flex;
}
.swim {
    float: left;
    width: 50%;
    padding: 20px;
    display: inline-flex;
}
.column {
    float: right;
    width: 50%;
    padding: 20px;
    display: inline-flex;
}

/* footer */
.footerfont {
    background-color: rgb(85, 81, 81);
    text-align: left;
    color: whitesmoke;
    margin-top: 0;
    padding: 10px;
    font-size: 12px;
}
p {
    margin: 0;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(247, 219, 245, 0.5);
    transform: translate(-350px);
    visibility: hidden;
    transition-property: transform;
    transition-duration: 2s;
}

.side-nav {
    position: absolute;
    width: 350px;
    height: 100vh;
    background-color: white;
    text-align: center;
    right: -20%;
    top: 0;
}

.side-nav > p {
    margin-bottom: 3px;
    font-size: 30px;
}

.side-nav > a {
    display: block;
    width: 350px;
    margin-top: 8px;
    padding: 20px 5px;
    font-size: 20px;
    transition-property: transform;
    transition-duration: 2s;
}

.on {
    transform: translateX(-350px);
}

.hidden {
    transition-property: all;
    transition-duration: 1s;
    visibility: hidden;
}

/* media queries */

@media screen and (min-width: 600px) and (max-width: 800px) {
    body {
        display: inline-block;
        width: 100%;
        font-size: 25px;
    }
}

@media (prefers-color-scheme: dark) {
    section {
        background-color: rgb(189, 81, 81);
        color: antiquewhite;
    }
    .wrapper {
        background-color: rgb(189, 81, 81);
    }
}
