* {
    box-sizing: border-box;
}

body {
    background: white;
    margin: 20px 0;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}

header {
    padding: 20px;
    border: 2px s white;
    background-color: white;
}

header .logo {
    height: 50px;
    width: 150px;
    background: rgb(255, 250, 241);
    float: left;
    padding-bottom: 10px;
}
header .menu {
    height: 50px;
    width: 50px;
    background: rgb(255, 255, 255);
    float: right;
    margin: 0;
    padding-bottom: 10px;
}

h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 30px;
    color: whitesmoke;
    position: absolute;
}

.container .btn {
    position: relative;
    top: 50%;
    left: 50%;
    background-color: #fccc33;
    color: #cc6601;
    border: 3px solid #cc6601;
    font-size: 20px;
    padding: 8px 35px;
    cursor: pointer;
    border-radius: 30px;
}

.container .btn:hover {
    background-color: #cc6601;
    color: blanchedalmond;
}

.imgcenter {
    width: 100%;
    height: auto;
}

section {
    padding: 50px;
    overflow: hidden;
    background-color: #ccc;
}

img {
    height: 30px;
    width: 30px;
}

section .cat {
    float: left;
    width: 50%;
}

section .world {
    float: left;
    width: 50%;
}
.swim {
    float: left;
    width: 50%;
}
.column {
    float: right;
    width: 50%;
}
footer {
    background-color: rgb(114, 108, 108);
    text-align: left;
    color: whitesmoke;
    margin-top: 0;
    padding: 10px;
}
p {
    margin: 0;
}
