* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 10px;
}
body {
    border: 1px solid violet;
    background: #ddd6f3; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to top,
        #faaca8,
        #ddd6f3
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to top,
        #faaca8,
        #ddd6f3
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
    text-align: center;
    color: #290fba;
}
h2 {
    text-align: center;
    color: #290fba;
}
li {
    list-style-type: none;
}
#projects-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    width: 300px;
}

a {
    text-decoration: none;
    font-size: 8px;
}
footer {
    color: rgb(56, 56, 56);
    font-size: 10px;
    text-align: center;
    border: 1px solid violet;
}
.aDescrip {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.descriptiondiv {
    background-color: burlywood;
}
.ImgDescrip {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    max-width: 100%;
    border: 3px solid #8236cb;
    border-radius: 5px;
}
