* {
    box-sizing: border-box;
}
body {
    margin: 3px;
    display: flex;
}
.container {
    display: flex;
    padding: 2px;
}

.flexbox1 {
    display: flex;
    background-color: #ccc;
    width: 200px;
    height: 200px;
    margin: 0 2px 0 0;
    justify-content: flex-end;
}
.inside1 {
    background-color: orange;
    width: 100px;
    height: 100px;
    align-content: flex-end;
}

.flexbox2 {
    display: flex;
    background-color: black;
    width: 200px;
    height: 200px;
    margin: 0 2px 0 0;
    justify-content: flex-end;
    align-items: flex-end;
}
.inside2 {
    background-color: yellow;
    width: 100px;
    height: 100px;
}
.flexbox3 {
    display: flex;
    background-color: blue;
    width: 200px;
    height: 200px;
    margin: 0 2px 0 0;
    justify-content: flex-start;
    align-items: flex-end;
}
.inside3 {
    background-color: green;
    width: 100px;
    height: 100px;
}
.flexbox4 {
    background-color: purple;
    width: 200px;
    height: 200px;
}
.inside4 {
    background-color: pink;
    width: 100px;
    height: 100px;
}
