/* ex 2 */

/* The <body> should be made a flex container and have its min-height set to 100vh so it fills the browser window. 
The <header> element should have a solid background color and be 70 pixels tall. 
The <footer> element should have a solid background color and be 30 pixels tall. 
The <main> element should fill the remainder of the available space. */

* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

header {
    background-color: #dcb8cb;
    height: 70px;
}

main {
    flex-grow: 1;
    background-color: #d5c9df;
}

footer {
    background-color: #ccd7e4;
    height: 30px;
}
