body {
    background-color: whitesmoke;
}
h1 {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    color: mediumslateblue;
}

h3 {
    margin: 0 auto;
    text-align: center;
    border: 1px solid;
    color: deeppink;
    visibility: hidden;
}

#game {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.slot {
    width: 100px;
    height: 100px;
    /* background: magenta; */
    overflow: hidden;
}

.hole {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 50px solid rgb(35, 141, 141);
    /* background-color: white; */
    position: relative;
    /* left: 10px;
    top: 10px; */
    left: -40px;
    top: -40px;
}

.player1 .hole {
    background-color: royalblue;
}

.player2 .hole {
    background-color: seagreen;
}
