* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

.container {
    position: relative;
    height: 600px;
    overflow: hidden;
}

#carousel img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateX(100%);
}

#carousel img.seethecat {
    transform: translateX(0);
    transition-property: transform;
    transition-duration: 3s;
}
#carousel img.dontseethecat {
    transition: translateX(-100%);
    transition-property: transform;
    transition-duration: 1s;
}
#smalldots {
    position: absolute;
    top: 500px;
    display: flex;
    width: 100%;
    justify-content: center;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: cornflowerblue solid 2px;
    margin: 10px;
    background-color: blue;
}

.dot.on {
    background-color: darkslateblue;
}
.dot:hover {
    cursor: pointer;
}
