<h1>Projects Spiced Academy</h1>
<section id="projects">
    {{#projects}}
        <div class="projects">
            <a href="{{link}}">
                <h2>{{title}}</h2>
                <img src="{{directory}}/screenshot.jpg" />
            </a>
        </div>
    {{/projects}}
</section>