<h1>Projects Spiced Academy</h1>
<section id="projects">
    {{#pokemons}}
        <div class="projects">
            <h2>{{name}}</h2>
            <img src="{{image}}" />

        </div>
    {{/pokemons}}

</section>